@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner{
    background-image: url(assets/Hero-bg.png);
    height: 652px;
    width: 1440px;
}
#banner .banner-img{
    margin-top: 26px;
    display: block;
}
#banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 652px;
}

#banner .moto{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;

}
#banner .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    margin-left: 294px;
    margin-right: 294px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;    
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    margin-top: 32px;
    text-decoration: none;
    border: none;
}
.btn :hover{
    background-color: gray;
}
.btn-info{
    text-decoration: none;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}
.btn button{
    border: none;
}

#info{
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 80px solid rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding: 80px;
    height: 1395px;
    width: 1140px;
    box-sizing: border-box;
}
#info .contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#info .que{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px ;
}

#info .ans{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;    
}

#info .point{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info .point1{
    max-width: 477px;
}

#info .head{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

#info .mid{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
}

#info .btn2{
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px 20px;
    text-align: center;
}

.btn2-info{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}

.img-side img{
    max-width: 100%;
    height: auto;
}

#inspi{
    margin-top: 88px;
}

#inspi .head{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

#inspi .description{
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

#inspi .video{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 181px;
}
#target{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 20px;
    margin-bottom: 111px;
}
#target .curr{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

#target .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
#target .allskills{
    display: flex;
    justify-content: center;
    gap:40px;
    position:relative;
}


#target .skill{
    max-width: 360px;
    max-height: 460px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#target .skillfont{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;   
    margin-top: 17px; 
}

#target .skilldes{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 6px;    
}

#target .link a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 40px;
}

#target .img{
    margin-bottom: 20px;
}

#next{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#next .next-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
#next .next-des{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}
#next .next-goal{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

#next .goal{
    display: flex;
    align-items: center;
    width: 1140px;
    gap: 20px;
    padding: 40px;
    border:1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;

}
#next .head{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
#next .mid{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
#next .link a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
#feedback{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-top: 49px;
    margin-bottom: 100px;
    background: url(assets/handshake.jpg);
    background-size: cover;
    height: 314px;
    width: 1140px;
}

#feedback .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback .head{
    margin-top: 64px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
#feedback .description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 16px;
}
#feedback input[type="text"]{
    margin-top: 48px;
    position: relative;
    width: 548px;
    height: 58px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
#feedback input[type="text"]::placeholder{
    align-items: start;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 19px 20px;
}

#feedback input[type="submit"]{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    width: 120px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
#foot{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    height: 100px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#foot .some{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 150px;
}
#foot div{
    display: flex;
    align-items: center;
}

.links1 ul {
    display: flex;
    padding-right: 150px;
    gap: 5px;
}

.links1 li{
    display: inline-block;
}
