@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

#banner{
    background-image: url(assets/Hero-bg.png);
    height: 450px;
}
#banner .banner-img{
    margin-top: 18px;
    display: block;
}
#banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 152px;
    padding-right: 152px;
}

#banner .moto{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 22px;

}
#banner .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 17px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 17px 14px 17px;    
    background-color: rgb(13, 19, 33);
    border-radius: 6px;
    margin-top: 22px;
}
.btn-info{

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;

}

#info{
    border: 48px solid rgba(13, 19, 33, 0.02);
    border-radius: 11px;
    margin-top: 51px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info .que{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 17px ;
}

#info .ans{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;    
}

#info .point{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info .point1{
    max-width: 585px;
}

#info .head{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

#info .mid{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 11px;
}

#info .btn2{
    margin-top: 22px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px 20px;
    text-align: center;
}

.btn2-info{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}

.img-side img{
    max-width: 100%;
    height: auto;
}

#inspi{
    margin-top: 62px;
}

#inspi .head{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

#inspi .description{
    margin-top: 17px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;
}

#inspi .video{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-bottom: 104px;
}
#target{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 20px;
    margin-bottom: 111px;
}
#target .curr{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 17px;
}

#target .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;
}
#target .allskills{
    display: flex;
    justify-content: center;
    gap:40px;
    position:relative;
}


#target .skill{
    max-width: 360px;
    max-height: 460px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#target .skillfont{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;   
    margin-top: 17px; 
}

#target .skilldes{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 6px;    
}

#target .link{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 40px;
}

#target .img{
    margin-bottom: 20px;
}